src/main/mule/task-1-and-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementation-employeeFlow" doc:id="20b1dee7-42aa-4fd0-8f30-acfd9470d914" >
		<set-payload value='#[payload.employee.first_name ++ " " ++ payload.employee.last_name  ++  " employee profile is created in HRMS System"]' doc:name="Set Response Payload" doc:id="4aa4ea05-3a9e-446c-8c11-1a7558eddbc9" />
		<ee:transform doc:name="Transform Message to Call Lookup Flow" doc:id="fb3e868f-10ba-42c9-a9cd-ec7b38bbab17" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
lookup('Lookup-Flow', payload)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="Lookup-Flow" doc:id="b62a592a-4288-4fe1-86fb-3b36d7c3e7a2" >
		<set-payload value='#[payload]' doc:name="Set Lookup Payload" doc:id="0bdc97be-913c-4a23-b7f6-9f8714dc1c15" />
		<logger level="INFO" doc:name="Log Payload" doc:id="26602819-48c0-422c-b8e2-b749c5409ee9" message="Lokkup Flow Payload Log :: #[payload]"/>
	</flow>
	
	
	
</mule>
